
{% if vrrp_group is defined %}
{% for gname,gitems in vrrp_group.items() %}
vrrp_sync_group {{ gname }} {
  group {
{% for instance in gitems %}
    {{ instance }}
{% endfor %}
  }
}
{% endfor %}
{% endif %}

{% for vname,vvalues in vrrp_instance.items() %}
vrrp_instance {{ vname }} {
{% if 'state' in vvalues %}
  state {{ vvalues['state'] }}
{% else %}
  state BACKUP
{% endif %}
  interface {{ vvalues['interface'] }}
  virtual_router_id {{ vvalues['vri'] }}
  priority {{ vvalues['priority'] }}
  advert_int {{ keepalived_advertisement_interval }}
{% if 'preempt_delay' in vvalues %}
  preempt_delay {{ vvalues['preempt_delay'] }}
{% else %}
  preempt_delay {{ keepalived_preempt_delay }}
{% endif %}
{% if 'notify_backup' in vvalues %}
  notify_backup "{{ notify_script_location }} BACKUP {{ vname }}"
{% endif %}
{% if 'notify_fault' in vvalues %}
  notify_fault "{{ notify_script_location }} FAULT {{ vname }}"
{% endif %}
  authentication {
    auth_type PASS
    auth_pass {{ keepalived_auth_pass }}
  }
  virtual_ipaddress {
{% for address in vvalues['addresses'] %}
    {{ address }}
{% endfor %}
  }
{% if 'routes' in vvalues %}
  virtual_routes {
{% for route in vvalues['routes'] %}
    {{ route }}
{% endfor %}
  }
{% endif %}
}


{% endfor %}

