#!/bin/bash

STATE="$1"
IF="$2"

# Truncate the current notify log file
LOG_FILE=/var/log/keepalived_notify_log
LOG=$(tail -n 1000 $LOG_FILE)
cat > "$LOG_FILE" <<_EOF_
$LOG
_EOF_

# Send everything to the notify log file
exec >> /var/log/keepalived_notify_log 2>&1
echo "$(date --iso-8601=seconds): Notify called with $@"

{% for if,ifvalues in vrrp_instance.items() %}

if [ "$IF" == "{{ if }}" ] && [ "$STATE" == "MASTER" ] ; then
  echo "Performing notify commands for $STATE $IF"
{% for com in ifvalues['notify_master']|default([]) %}
  {{ com }}
{% endfor %}
  exit 0
fi

if [ "$IF" == "{{ if }}" ] && [ "$STATE" == "BACKUP" ] ; then
  echo "Performing notify commands for $STATE $IF"
{% for com in ifvalues['notify_backup']|default([]) %}
  {{ com }}
{% endfor %}
  exit 0
fi

if [ "$IF" == "{{ if }}" ] && [ "$STATE" == "FAULT" ] ; then
  echo "Performing notify commands for $STATE $IF"
{% for com in ifvalues['notify_fault']|default([]) %}
  {{ com }}
{% endfor %}
  exit 0
fi

{% endfor %}



# interface not specified or known
echo "Interface not specified or unknown"
exit 1
